<h2>Showing selected article</h2>

<p><b>Article title:</b>
  <%= @article.title %>
</p>

<p><b>Article description:</b>
  <%= @article.description %>
</p>

<%= link_to 'Back to Index', articles_path %> |
<%= link_to 'Edit this article', edit_article_path(@article) %>
